<!--IF CITY SELECTION FUNCTION-->
<% if @shows %>
  <div id="showlist-row" class="row">
    <% @shows.sort_by{|a|a.active ? 0:1}.each do |show|%>

      <%= render :partial => 'partials/showlisttemplate', :locals => {:show => show}%>   <!--Obviously where the _showlisttemplate.html.erb is called-->

    <% end %>
  </div>
<% end %>

<!--IF SEARCH FUNCTION-->

<% if @radioshows %>
  <div id="showlist-row" class="row">
    <% @radioshows.sort.each do |location, show| %>
      <div class="row searchrows">
	<h1><%= location.city %></h1>
	  <% show.each do |s| %>

	    <%= render :partial => 'partials/showlisttemplate', :locals => {:show => s}%> <!--Again _showlisttemplate.html.erb is called-->

	  <% end %>
      </div>
    <% end %>
  </div>
<% end %>