$('#feedback>div').css({display:'none'});
$('.signupbar').css({display:'none'});
<% if flash[:success]%>
  $('#new_subscriber').fadeOut('slow', function(){
  $('#new_subscriber').replaceWith("<h1 id='success'>Thank you for subscribing!</h1>").fadeIn('slow');});
<% else %>
  $('.signup_error').show('slow');
  $('#errors').html('<%= flash[:error] %>')
<% end %>