<style>
.span4 {
  height: 300px;
  overflow:auto;
/*  border:1px solid black*/
}
</style>
<!--Modal Window-->
<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3 style="text-align:center;"><%= "<font size='6' color='blue'>#{@playlist.name}</font> ".html_safe %> Playlist</h3>
</div>
<div class="modal-body">
  <div class="row" style="padding-left:40px;">
    <div class="span4">
      <ul class="unstyled">
	<% @playlist.artists.each do |artist| %>
	  <li><%= link_to artist.name, show_songlist_path(:playlist_id => @playlist.id, :artist_id => artist.id), :remote => true %></li>
	<% end %>
      </ul>
    </div>
    <div class="span4" id="songlist">
    </div>
  </div>
</div>
<div class="modal-footer">
  <a href="#" class="btn btn-primary">Save changes</a>
  <a href="#" data-dismiss="modal" class="btn close">Close</a>
</div>

