<div id="interactionbox" class="border">
  
  <h4>Your interaction with <color><%= show.station %></color></h4>
  <table class="table table-bordered">
    <thead>
      <tr>
	<th>Name</th>
	<th>Place</th>
	<th>Points</th>
	<th>Badges</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td><%= current_user.name if current_user %></td>
	<td><%= show.user_rank(current_user.point_record(show))%></td>
	<td><%= current_user.points.where(:show_id => show.id).first.points %></td>
	<td>(Badge Images)</td>
      </tr>
    </tbody>
  </table>

</div>
