<div class="container-fluid">
    <div id="middle-wrapper" class="span17">
      <div id="row-content" class="row border">
	<div id="features-column" class="span4">
	  <p style="color:white">Show settings go here</p>
	</div>
	<div id="right-content" class="span10">
	  Interaction content and display
	</div>
	<div id="bottom-filler" class="span17">
	  Live stats on users and such
	</div>

      </div>
    </div>

  <div id="home-logo" class="sticky"></div>
  <%= render :partial => 'partials/footer'%>
</div>


<script>
  $("#set-name-btn").click(function () {
    $( "#eventlinks" ).hide("slide", { direction: "left" }, 700, function() {
      $("#setname2").show("slide", { direction: "right" }, 700);
    });
  });
  $(".submit-name").click(function () {
    $("#setname2").hide("slide", { direction: "left" }, 700, function() {
      $("#eventlinks").show("slide", { direction: "right" }, 700);
    });
  });

  $("#show-playlist").click(function () {
    $("#left-toolbox").hide("slide", { direction: "left" }, 700, function() {
      $("#addplaylist").show("slide", { direction: "right" }, 700);
    });
  });
  $("#cancel-playlist").click(function () {
    $("#addplaylist").hide("slide", { direction: "left" }, 700, function() {
      $("#left-toolbox").show("slide", { direction: "right" }, 700);
    });
  });
  $(document).ready(
    function(){
      jQuery('.sticky').stickyfloat({stickToBottom: true, duration: 100})

      setInterval(function(){
	$('#right-toolbox').load('<%= escape_javascript(show_requests_path) %>');
	$("#counter").flipCounter("renderCounter",<%= @messages.count%>);
      }, 5000);

    });

</script>
