<style>

  body {
    background-color: #eee;
}
  .row#tools {
    width: 80%;
    height: 425px;
    margin-left: 250px;
/*    border: 1px solid black;*/
  
}
  .well#chatusers {
    overflow: auto;
}

.span8#chatbox {
    background-color: #ABABAB;
    border-radius: 2px 2px 2px 2px;
    margin-left: 1px;
    width: 735px;
    height: 100%;
}

.span6#data {
    background-color: #ABABAB;
    border-radius: 2px 2px 2px 2px;
    float:right;
    margin-right:1px;
    margin-left: 0;
    height: 100%;
    

}

</style>

    <div class="container-fluid">
      <div class="sidebar">
        <div class="well" id="chatusers">
          <h5>User chat list(scrollable)</h5>
          <ul>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div>

	<div class="well">
	  <h5>Event Details</h5>
	  <ul>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>

	</div>
      </div>
<div class="row" id="tools">

<div class="span8" id="chatbox">
fds
</div>

<div class="span6" id="data">
stuff
</div>
</div>